#contents {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

input[type="button"] {
  outline: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 3px;
  margin-right: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1.0em;
  background-color: rgb(59, 192, 196);
  color: white;
  border-style: none;
  border-radius: 10px;
  box-shadow: 0px 4px 4px -2px rgb(58, 162, 190)
}

input[type="button"]:active {
  outline: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 3px;
  margin-right: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1.0em;
  background-color: rgb(58, 161, 164);
  color: white;
  border-style: none;
  border-radius: 10px;
  box-shadow: 0px 4px 4px -2px rgb(72, 126, 140)
}

input[type="button"]:target {
  outline: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 3px;
  margin-right: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1.0em;
  background-color: rgb(58, 161, 164);
  color: white;
  border-style: none;
  border-radius: 10px;
  box-shadow: 0px 4px 4px -2px rgb(72, 126, 140)
}
