doctype html
html
  head
    title filters-js
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="description" content="filters-js")
    link(rel="apple-touch-icon" href="./resources/tanjoin.png")
    link(rel="shortcut icon" href="./resources/tanjoin.png")
    link(rel="stylesheet" type="text/css" href="./bin/css/filters.css")
    script(type="text/javascript", src="bin/js/filters.js")
  body
    block contents
