extends ./template/header

block contents
  #contents
    div
      img#preview
      canvas#result
    div
      input#getfile(type="file" accept="image/*")
      input#save(type="button" value="保存" disabled="disabled")
    div
      input#original(type="button" value="元画像")
      input#grayscale(type="button" value="グレースケール")
      input#emboss(type="button" value="エンボス")
      input#sharp(type="button" value="シャープ")
      input#negative(type="button" value="ネガティブ")
      input#contrast_enhancement(type="button" value="コントラスト強調")
      input#contrast_reduction(type="button" value="コントラスト減少")
      input#gaussian_filter(type="button" value="ガウシアンフィルタ")
      input#sobel_filter(type="button" value="ソーベルフィルタ")
      input#laplacian_filter(type="button" value="ラプラシアンフィルタ")
      input#pixelization(type="button" value="モザイク")
      input#pixelization_hard(type="button" value="モザイク（強）")
      input#binarization(type="button" value="二値化")
      input#percentile_method(type="button" value="Pタイル法")
      input#filter1(type="button" value="フィルター1")
      input#filter2(type="button" value="フィルター2")
      input#filter3(type="button" value="フィルター3")
      input#filter4(type="button" value="フィルター4")
      input#filter5(type="button" value="フィルター5")
      input#filter6(type="button" value="フィルター6")
      input#posterization(type="button" value="ポスタリゼーション")
      input#median_filter(type="button" value="メディアンフィルタ")
      input#kaiga(type="button" value="絵画風")
      input#fir_filter(type="button" value="FIRフィルタ")
      input#gamma(type="button" value="ガンマ補正")
      input#red(type="button" value="赤")
      input#green(type="button" value="緑")
      input#blue(type="button" value="青")
