extends ./template/header

block contents
  #contents
    div
      img#preview
      canvas#result
    div
      input#getfile(type="file" accept="image/*")
      input#grayscale(type="button" value="グレースケール")
