extends ./template/header

block contents
  #contents
    div
      img#preview
      canvas#result
    div
      input#getfile(type="file" accept="image/*")
    div
      input#original(type="button" value="元画像")
      input#grayscale(type="button" value="グレースケール")
      input#emboss(type="button" value="エンボス")
      input#sharp(type="button" value="シャープ")
      input#negative(type="button" value="ネガティブ")
      input#contrast_enhancement(type="button" value="コントラスト強調")
      input#contrast_reduction(type="button" value="コントラスト減少")
      input#gaussian_filter(type="button" value="ガウシアンフィルタ")
      input#sobel_filter(type="button" value="ソーベルフィルタ")
      input#laplacian_filter(type="button" value="ラプラシアンフィルタ")
      input#pixelization(type="button" value="モザイク")
